@model List<MobileWeb.Models.CartItem>
<div class="cart">
    <p>
        <a href="/gio-hang" style="text-decoration:none">Giỏ hàng:</a><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>
